<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleSheet" href="/styles/style.css" type="text/css">
    

    <title>Document</title>
</head>
<body class="bg-red-500">
    <h1 class=" text-center mt-20 text-3xl"> this page is not found</h1>
</body>
</html>