<%- include("includes/head.ejs") %>
    <link rel="styleSheet" href="/EJSDIR/public/styles/style.css">

    <body>
        <div class="text-center">
            <h1 class="text-black-300 text-3xl mb-2 ">This is the home page</h1>
            <h3 class="m-5 bg-red-300">
                <%= 4+2 %>
            </h3>
            <p class="bg-red-300">
                <%= "himanshu" .toUpperCase() %>
            </p>
            <p class="border m-6 p-6 bg-yellow-100">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur alias quam
                labore assumenda voluptatum et voluptas totam nemo? Voluptatum magnam aspernatur aperiam quos alias odit
                ab quidem aut nam sunt.</p>
            <button class="px-4 py-2 bg-blue-500 text-white font-bold rounded">click me</button>
        </div>

    </body>

    </html>